In [1]:
import pandas as pd
import numpy as np

In [4]:
df_train = pd.read_excel('Constraint_Train.xlsx')
df_train.head()

   id                                              tweet label
0   1  The CDC currently reports 99031 deaths. In gen...  real
1   2  States reported 1121 deaths a small rise from ...  real
2   3  Politically Correct Woman (Almost) Uses Pandem...  fake
3   4  #IndiaFightsCorona: We have 1524 #COVID testin...  real
4   5  Populous states can generate large case counts...  real

In [7]:
df_test = pd.read_excel('Constraint_Test.xlsx')
print(df_test.shape)
df_test.head()

(2140, 2)

   id                                              tweet
0   1  Our daily update is published. States reported...
1   2             Alfalfa is the only cure for COVID-19.
2   3  President Trump Asked What He Would Do If He W...
3   4  States reported 630 deaths. We are still seein...
4   5  This is the sixth time a global health emergen...

In [8]:
test_label = pd.read_csv('english_test_with_labels.csv')
print(test_label.shape)
test_label.head()

(2140, 3)

   id                                              tweet label
0   1  Our daily update is published. States reported...  real
1   2             Alfalfa is the only cure for COVID-19.  fake
2   3  President Trump Asked What He Would Do If He W...  fake
3   4  States reported 630 deaths. We are still seein...  real
4   5  This is the sixth time a global health emergen...  real

In [9]:
df_test['Label'] = test_label['label']
df_test.head()

   id                                              tweet Label
0   1  Our daily update is published. States reported...  real
1   2             Alfalfa is the only cure for COVID-19.  fake
2   3  President Trump Asked What He Would Do If He W...  fake
3   4  States reported 630 deaths. We are still seein...  real
4   5  This is the sixth time a global health emergen...  real

In [10]:
df_test.drop('id', axis=1,inplace = True)
df_train.drop('id', axis=1,inplace = True)

In [13]:
df_train.head(),df_test.head()

(                                               tweet label
 0  The CDC currently reports 99031 deaths. In gen...  real
 1  States reported 1121 deaths a small rise from ...  real
 2  Politically Correct Woman (Almost) Uses Pandem...  fake
 3  #IndiaFightsCorona: We have 1524 #COVID testin...  real
 4  Populous states can generate large case counts...  real,
                                                tweet Label
 0  Our daily update is published. States reported...  real
 1             Alfalfa is the only cure for COVID-19.  fake
 2  President Trump Asked What He Would Do If He W...  fake
 3  States reported 630 deaths. We are still seein...  real
 4  This is the sixth time a global health emergen...  real)

In [14]:
df_train.to_csv('Train_set')
df_test.to_csv('Test_set')